<!doctype html>
<html lang="en">

<head>
    <title>Hunter Wiegand</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <!-- Desktop Navbar -->
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="desktop-nav">
                    <li><a href="works.html">Works</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="../index.html">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Mobile Navbar -->
    <nav class="navbar navbar-dark custom-display">
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#collapsingNavbar4">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse test" id="collapsingNavbar4">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link test" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="works.html">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Add about me section -->
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <img id="logo_img" src="../styles/images/logo_img_white.png" alt="Logo of Hello World I'm Hunter">
            </div>
            <div class="col mt-5 prime-color">
                <h1>Dedicated and Inovative Software Engineer</h1>
            </div>
        </div>
        <div class="row mt-5">
            <p class="prime-color about-text">Dedicated web developer with a passion for creating technologies that benefit others. I’m a University of Washington Coding Bootcamp graduate, who also worked full time as a manager at one of Cinemark’s most successful theaters. Proficient with the MERN stack technologies (Mongo, Express, React, Node.js) with an eagerness to learn more. I’m always looking to expand my technical knowledge, as well as apply what I’ve learned to help the world.. Debitis fuga quae earum excepturi ab
                illo, maxime recusandae voluptatibus, soluta, dolores voluptatem dolorum quidem molestiae minus. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ad et, molestias facere minus iste a modi dolores?
                Amet voluptatem repellat veritatis veniam neque blanditiis corporis sed, in sit provident ducimus?</p>
        </div>
        <div class="row mt-5 justify-content-around prime-color">
            <div class="col">
                <span>MERN Stack</span>
            </div>
            <div class="col">
                <span>Java</span>
            </div>
            <div class="col">
                <span>MySQL</span>
            </div>
            <div class="col">
                <span>Things</span>
            </div>
            <div class="col">
                    <span>Things</span>
            </div>
        </div>

    </div>



    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Custom Script -->
</body>

</html>