<!doctype html>
<html lang="en">

<head>
    <title>Hunter Wiegand</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <!-- Desktop Navbar -->
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="desktop-nav">
                    <li><a href="works.html">Works</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="../index.html">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Mobile Navbar -->
    <nav class="navbar navbar-dark custom-display">
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#collapsingNavbar4">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse test" id="collapsingNavbar4">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link test" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="works.html">Works</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h1 class="prime-color">How to Find Me!</h1>
            </div>
            <div class="col prime-color text-center mt-5">
                <p class="contact">Thank you for viewing, and feel free to contact me either by email or phone.</p>
                <p class="contact">Email:   hunter_wiegand@yahoo.com</p>
                <p class="contact">Phone:   (206) 696-0460</p>
            </div>
        </div>
    </div>



    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Custom Script -->
</body>

</html>