body {
    background-image: url("../styles/images/galaxy_img.jpg");
}

.star {
    margin: 0;
    padding: 0;
    color: white;
    width: 75px;
    height: 75px;
    list-style-type: none;
    text-align: center;
    line-height: 75px;
    background: rgba(255, 255, 255, .4);
    border-radius: 50%;
    color: rgba(255, 255, 255);
    transition: .5s;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 18px;
}

.star:hover {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1)
}

a:visited {
    color: #fff;
}

a:link {
    color: #fff;
}

#logo_img {
    width: 350px;
    height: 350px;
}

.custom-div {
    height: 150px;
}

.desktop-nav {
    list-style-type: none;
}

.desktop-nav>li {
    float: right;
    padding: 25px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-display {
    display: none;
}

.star-parent {
    height: 300px;
    width: 100%;
    /* background-color: pink; */
    position: relative;
}

.shooting-star {
    color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    animation-name: myStar;
    animation-duration: 1.5s;
    width: 30px;
    height: 30px;
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.shooting-star2 {
    color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    animation-name: myStar-2;
    animation-duration: 1.52s;
    width: 25px;
    height: 25px;
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@keyframes myStar {
    0% {
        background-color: rgba(255, 255, 255);
        visibility: visible;
        bottom: 0px;
        left: 0px;
    }
    25% {
        background-color: rgba(0, 255, 255);
    }
    50% {
        background-color: rgba(255, 0, 255);
    }
    75% {
        background-color: rgb(194, 3, 153);
    }
    100% {
        background-color: rgba(50, 0, 83);
        bottom: 280px;
        left: 100%;
    }
}

@keyframes myStar-2 {
    0% {
        background-color: rgba(255, 255, 255);
        visibility: visible;
        bottom: 0px;
        left: 0px;
    }
    25% {
        background-color: rgba(0, 255, 255);
    }
    50% {
        background-color: rgba(255, 0, 255);
    }
    75% {
        background-color: rgba(194, 3, 153);
    }
    100% {
        background-color: rgb(50, 0, 83);
        bottom: 280px;
        left: 100%;
    }
}

@font-face {
    font-family: 'Cedarville Cursive';
    src: url('fonts/cedarvillecursive-regular-webfont.woff2') format('woff2'), url('fonts/cedarvillecursive-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.card:hover {
    transform: rotateY(180deg);
}

.work-cards {
    width: 100%;
}

.work-1-f {
    background-image: url("../styles/images/blobGod.jpg");
    background-size: 100%;
}

.work-1-b {

}

.work-2-f {
    background-image: url("../styles/images/fft-img.png");
    background-size: 150%;
}

.work-2-b {
    
}

.work-3-f {
    background-image: url("../styles/images/node-siri-img.gif");
    background-size: 150%;
}

.work-3-b {
    
}

.work-4-f {
    background-image: url("../styles/images/mystic-spell-img.png");
    background-size: 270px 280px;
}

.work-4-b {
    
}

.space-1 {
    position: relative;
    height: 320px;
    width: 250px;
}

.space-2 {
    position: relative;
    height: 320px;
    width: 250px;
}

.space-3 {
    position: relative;
    height: 320px;
    width: 250px;
}

.space-4 {
    position: relative;
    height: 320px;
    width: 250px;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    transform: all 0.5s ease;
}

.front-card {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: yellow;
    backface-visibility: hidden;
}

.back-card {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: green;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card-1 {
    animation: flip 2s;
}

.card-2 {
    animation: flip 3s;
}

.card-3 {
    animation: flip 3.5s;
}

.card-4 {
    animation: flip 4s;
}

@keyframes flip {
    from {
        transform: 0;
    }
    to {
        transform: rotateY(360deg);
    }
}

.space-1 {
    animation: grow .75s;
}

.space-2 {
    animation: grow 1.5s;
}

.space-3 {
    animation: grow 2.25s;
}

.space-4 {
    animation: grow 3s;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media (min-width: 1600px) {
    /* Make stars bigger */
    .star {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        font-size: 26px;
    }
}

@media (max-width: 1024px) {
    .my-div {
        height: 75px;
    }
}

@media (max-width: 876px) {
    #logo_img {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 640px) {
    .custom-display {
        display: block;
    }
    .desktop-nav {
        display: none;
    }
    .star {
        display: none;
    }

    .star-parent {
        height: 120px;
    }
    .shooting-star {
        color: rgba(255, 255, 255, .1);
        border-radius: 50%;
        animation-name: myStar;
        animation-duration: 1s;
        width: 30px;
        height: 30px;
        visibility: hidden;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .shooting-star2 {
        color: rgba(255, 255, 255, .1);
        border-radius: 50%;
        animation-name: myStar-2;
        animation-duration: 1.05s;
        width: 25px;
        height: 25px;
        visibility: hidden;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    @keyframes myStar {
        0% {
            background-color: rgba(255, 255, 255);
            visibility: visible;
            bottom: 0px;
            left: 0px;
        }
        25% {
            background-color: rgba(0, 255, 255);
        }
        50% {
            background-color: rgba(255, 0, 255);
        }
        75% {
            background-color: rgb(194, 3, 153);
        }
        100% {
            background-color: rgba(50, 0, 83);
            bottom: 100px;
            left: 100%;
        }
    }
    
    @keyframes myStar-2 {
        0% {
            background-color: rgba(255, 255, 255);
            visibility: visible;
            bottom: 0px;
            left: 0px;
        }
        25% {
            background-color: rgba(0, 255, 255);
        }
        50% {
            background-color: rgba(255, 0, 255);
        }
        75% {
            background-color: rgba(194, 3, 153);
        }
        100% {
            background-color: rgb(50, 0, 83);
            bottom: 100px;
            left: 100%;
        }
    }

}
